<header id="main-header">
    <div id="logo">
        <a href="/">
            TEST
        </a>
    </div>
        <nav>
    <%- include('nav-items') %>

        </nav>
        <button id="mobil-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

</header>
<aside id="mobil-menu">

    <nav>
        <%- include('nav-items') %>

    </nav>
</aside>