<%- include('../includes/head',{pageTitle: 'error500' }) %>

</head>

    <body>


<%- include('../includes/header') %>
            <main>
               <h1>level defrent need for open it</h1>
               <h2>try leter</h2>
               <p><a  class="btn" href="/">go to home</a></p>
            </main>

            <%- include('../includes/footer') %>