<%- include('../../includes/head',{pageTitle: 'All' }) %>
    <link rel="stylesheet" href="/styles/prudoct.css">

    </head>

    <body>


        <%- include('../../includes/header') %>
            <main>
                <h1>All Products</h1>
                <ul id="products-grid">

                    <% for (const product of products){ %>
                        <li><%- include('includes/product-item',{product :product}) %>
                        </li>
                        <% } %>

                </ul>
            </main>

            <%- include('../../includes/footer') %>