<%- include('../../includes/head',{pageTitle: 'update products' }) %>
<link rel="stylesheet" href="/../styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>

    </head>

    <body>


        <%- include('../../includes/header') %>
            <main>
                <h1>update product</h1>

                <%-  include('includes/product-form',{submitPath: '/admin/products/' + product.id,product :product,imageRequired: false }) %>  


            </main>

            <%- include('../../includes/footer') %>